* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background: ghostwhite;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-top: 52px;
  margin-bottom: 26px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  margin: 16px 0;
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
}

ol, ul {
  margin: 0;
  padding: 0;
}

ol {
  list-style-position: inside;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  line-height: 1.8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  & a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}

code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  line-height: 1.3;
  border-radius: 8px;

  @media (min-width: 660px) {
    font-size: 16px;
  }
}

.content {
  min-height: calc(100vh - 200px);
  background: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px 10px;
  border-radius: 8px;
}

.post-item {
  margin: 32px 0;
  & a {
    display: block;
    margin-bottom: 8px;
  }
}
