@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.woff') format('woff');
}
