* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: ghostwhite;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

.content {
  height: 100%;
  background: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.language-scala {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 1.2;
}
