* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background: ghostwhite;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-top: 26px;
  margin-bottom: 26px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

.content {
  min-height: 100vh;
  background: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px 100px 10px;
}

.language-scala {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 1.3;
}
