name: Deploy

on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up Netlify
        uses: netlify/actions/cli@master
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.9
      - name: Download and install SBT
        env:
          SBT_VERSION: 1.4.6
        run: |
          curl -L -o sbt-${SBT_VERSION}.deb https://dl.bintray.com/sbt/debian/sbt-${SBT_VERSION}.deb
          sudo dpkg -i sbt-${SBT_VERSION}.deb
      - name: Install Netlify CLI
        run: |
          sudo npm install --unsafe-perm=true netlify-cli@2.59.1 -g
      - name: Deploy site
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: sbt deployProd
